##############################################
###    .gitignore para Python Bootcamp     ###
##############################################

# Basuras de Pycharm o vscode
__pycache__/
.pytest_cache/
*.pyc
.vscode/

# Reportes (de momento no subir a git)
allureRep/
report/
archive/
output.json
pytest_html_report.html

# Customs
.idea/
venv/
.venv/
*.py
**/Entregas/
Entregas.md